@import "./font.css";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.header__logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #FFF;
  background-color: #fb7dc4;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.nav {
  margin-top: 40px;
  position: relative;
  top: 0;
  height: 100%;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-left: 15px;
}

.nav__item a {
  color: #FFF;
  font-size: 10px;
  font-family: Inter-UI-Bold, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav__item a:hover {
  color: #db6400;
}

.nav a{
  text-decoration: none
}

.nav ul {
  list-style-type: none;
}